### Simulando Dados de Séries Temporais
# Simulações Heurísticas

uma regra de cada vez

# Simulações de eventos discretos (SED)

evolui ao longo do tempo

# Simulações baseadas em leis da física

excercício analítico inestimável. E também modelos específicos.

simulações simples ou complexas. Simples = dados sintéticos. Gerados como somas cumulativas em um processo aleatório (como a rnorm R) ou por meio de uma função periódica (curva do seno). 

natureza estocástica (cujo o estado é indeterminado, eventos aleatórios) nçao linear dos sistemas estudados.

In [2]:
import pandas as pd
import numpy as np

years =['2014', '2015', '2016', '2017','2018']
memberStatus =['bronze','silver','gold', 'inactive']

memberYears = np.random.choice(years, 1000, p=[0.1, 0.1, 0.15, 0.30,0.35])

memberStats = np.random.choice(memberStatus, 1000, p=[0.5, 0.3, 0.1, 0.1])

yearJoined = pd.DataFrame({'yearJoined': memberYears,
'memberStats': memberStats})
memberYears

array(['2017', '2017', '2017', '2014', '2018', '2017', '2014', '2017',
       '2018', '2017', '2016', '2017', '2017', '2017', '2018', '2018',
       '2015', '2016', '2016', '2015', '2017', '2018', '2017', '2017',
       '2017', '2014', '2018', '2018', '2018', '2017', '2016', '2017',
       '2017', '2018', '2015', '2015', '2015', '2017', '2017', '2018',
       '2014', '2014', '2018', '2018', '2017', '2014', '2018', '2017',
       '2017', '2018', '2018', '2014', '2017', '2018', '2018', '2014',
       '2017', '2017', '2014', '2017', '2018', '2015', '2018', '2017',
       '2018', '2018', '2017', '2016', '2017', '2017', '2014', '2018',
       '2016', '2018', '2017', '2015', '2015', '2016', '2017', '2016',
       '2018', '2018', '2018', '2014', '2018', '2018', '2014', '2014',
       '2018', '2016', '2017', '2016', '2018', '2018', '2015', '2016',
       '2018', '2017', '2018', '2016', '2014', '2017', '2015', '2017',
       '2017', '2018', '2016', '2014', '2017', '2017', '2017', '2016',
       '2018', '2018', '2014', '2016', '2017', '2018', '2018', '2018',
       '2014', '2018', '2017', '2015', '2014', '2018', '2017', '2018',
       '2018', '2014', '2016', '2017', '2017', '2018', '2014', '2014',
       '2017', '2018', '2018', '2014', '2018', '2018', '2015', '2017',
       '2014', '2017', '2016', '2018', '2018', '2014', '2018', '2017',
       '2017', '2014', '2017', '2018', '2015', '2018', '2016', '2014',
       '2015', '2018', '2016', '2017', '2018', '2018', '2014', '2018',
       '2018', '2018', '2018', '2018', '2016', '2015', '2014', '2017',
       '2016', '2018', '2017', '2018', '2014', '2014', '2018', '2018',
       '2014', '2016', '2017', '2016', '2018', '2018', '2018', '2015',
       '2016', '2017', '2015', '2014', '2015', '2018', '2017', '2018',
       '2017', '2017', '2016', '2017', '2014', '2018', '2017', '2017',
       '2018', '2018', '2015', '2017', '2016', '2018', '2017', '2018',
       '2015', '2018', '2017', '2014', '2017', '2015', '2018', '2016',
       '2017', '2017', '2015', '2017', '2018', '2017', '2017', '2016',
       '2016', '2016', '2017', '2017', '2018', '2018', '2014', '2017',
       '2018', '2018', '2018', '2017', '2018', '2016', '2016', '2017',
       '2017', '2018', '2018', '2018', '2015', '2018', '2018', '2018',
       '2018', '2017', '2017', '2017', '2018', '2018', '2016', '2018',
       '2018', '2018', '2014', '2017', '2016', '2018', '2018', '2017',
       '2018', '2018', '2016', '2014', '2018', '2017', '2017', '2018',
       '2017', '2016', '2017', '2016', '2018', '2016', '2018', '2017',
       '2018', '2018', '2018', '2015', '2017', '2018', '2015', '2016',
       '2018', '2018', '2018', '2016', '2017', '2014', '2018', '2017',
       '2018', '2017', '2018', '2018', '2017', '2017', '2016', '2016',
       '2017', '2018', '2017', '2017', '2018', '2018', '2017', '2018',
       '2018', '2015', '2016', '2016', '2018', '2017', '2016', '2014',
       '2018', '2014', '2017', '2016', '2017', '2016', '2015', '2018',
       '2017', '2017', '2018', '2018', '2018', '2015', '2016', '2018',
       '2017', '2018', '2018', '2017', '2015', '2018', '2018', '2017',
       '2014', '2014', '2017', '2014', '2018', '2017', '2017', '2017',
       '2018', '2017', '2017', '2017', '2016', '2016', '2016', '2017',
       '2016', '2014', '2018', '2017', '2015', '2017', '2017', '2017',
       '2016', '2014', '2017', '2015', '2018', '2017', '2015', '2015',
       '2018', '2018', '2016', '2018', '2017', '2017', '2015', '2017',
       '2018', '2018', '2017', '2018', '2017', '2017', '2018', '2016',
       '2018', '2016', '2018', '2018', '2018', '2018', '2018', '2014',
       '2017', '2018', '2017', '2018', '2015', '2018', '2017', '2018',
       '2017', '2014', '2016', '2016', '2014', '2017', '2016', '2017',
       '2015', '2015', '2014', '2017', '2017', '2016', '2018', '2017',
       '2016', '2014', '2018', '2018', '2018', '2017', '2017', '2014',
       '2017', '2018', '2018', '2017', '2015', '2015', '2016', '2016',
       '2018', '2017', '2018', '2015', '2014', '2018', '2018', '2014',
       '2014', '2015', '2017', '2016', '2015', '2018', '2015', '2017',
       '2016', '2015', '2018', '2014', '2018', '2018', '2016', '2018',
       '2018', '2014', '2018', '2018', '2016', '2018', '2018', '2015',
       '2018', '2016', '2018', '2015', '2017', '2018', '2014', '2017',
       '2018', '2017', '2015', '2016', '2015', '2015', '2017', '2017',
       '2018', '2017', '2017', '2018', '2014', '2018', '2016', '2014',
       '2017', '2017', '2014', '2017', '2017', '2018', '2015', '2015',
       '2014', '2017', '2016', '2017', '2017', '2018', '2018', '2018',
       '2017', '2016', '2014', '2018', '2015', '2017', '2018', '2018',
       '2018', '2014', '2017', '2017', '2016', '2017', '2018', '2018',
       '2018', '2016', '2017', '2016', '2017', '2018', '2018', '2017',
       '2016', '2014', '2018', '2015', '2018', '2016', '2014', '2018',
       '2018', '2016', '2018', '2016', '2017', '2017', '2018', '2017',
       '2017', '2015', '2018', '2016', '2018', '2017', '2018', '2015',
       '2015', '2018', '2018', '2017', '2018', '2018', '2017', '2018',
       '2017', '2017', '2016', '2017', '2016', '2015', '2016', '2014',
       '2016', '2017', '2017', '2017', '2018', '2016', '2017', '2016',
       '2016', '2017', '2017', '2018', '2014', '2018', '2016', '2015',
       '2017', '2017', '2017', '2016', '2016', '2018', '2016', '2016',
       '2014', '2018', '2016', '2015', '2014', '2017', '2018', '2014',
       '2018', '2016', '2018', '2016', '2018', '2014', '2018', '2015',
       '2018', '2014', '2017', '2018', '2015', '2017', '2015', '2016',
       '2016', '2016', '2017', '2016', '2017', '2016', '2018', '2015',
       '2016', '2017', '2018', '2018', '2017', '2018', '2018', '2017',
       '2014', '2017', '2014', '2017', '2015', '2015', '2018', '2017',
       '2017', '2018', '2017', '2018', '2017', '2018', '2014', '2018',
       '2016', '2017', '2016', '2017', '2018', '2015', '2017', '2018',
       '2018', '2015', '2015', '2018', '2018', '2018', '2014', '2014',
       '2018', '2014', '2017', '2014', '2015', '2015', '2015', '2018',
       '2018', '2015', '2018', '2015', '2018', '2018', '2014', '2018',
       '2017', '2017', '2017', '2017', '2017', '2018', '2017', '2015',
       '2018', '2017', '2018', '2018', '2016', '2017', '2016', '2018',
       '2018', '2014', '2018', '2018', '2018', '2015', '2018', '2015',
       '2017', '2017', '2017', '2017', '2017', '2016', '2018', '2016',
       '2015', '2016', '2016', '2015', '2017', '2018', '2017', '2018',
       '2014', '2018', '2018', '2017', '2017', '2017', '2015', '2017',
       '2016', '2018', '2018', '2018', '2017', '2017', '2018', '2018',
       '2017', '2015', '2018', '2018', '2017', '2018', '2015', '2017',
       '2014', '2018', '2017', '2014', '2014', '2017', '2016', '2017',
       '2016', '2018', '2014', '2016', '2014', '2018', '2017', '2018',
       '2016', '2018', '2018', '2016', '2018', '2017', '2015', '2018',
       '2016', '2017', '2014', '2018', '2016', '2017', '2015', '2018',
       '2016', '2016', '2014', '2015', '2014', '2018', '2017', '2018',
       '2016', '2015', '2017', '2014', '2017', '2018', '2015', '2018',
       '2017', '2014', '2018', '2015', '2017', '2015', '2017', '2018',
       '2015', '2018', '2018', '2016', '2017', '2014', '2016', '2015',
       '2015', '2018', '2017', '2017', '2017', '2015', '2016', '2018',
       '2018', '2017', '2017', '2018', '2017', '2018', '2017', '2017',
       '2018', '2018', '2017', '2014', '2016', '2017', '2014', '2018',
       '2018', '2018', '2017', '2017', '2014', '2017', '2016', '2017',
       '2017', '2018', '2017', '2017', '2018', '2017', '2018', '2016',
       '2018', '2014', '2016', '2018', '2016', '2014', '2018', '2015',
       '2017', '2018', '2014', '2018', '2018', '2018', '2017', '2017',
       '2018', '2016', '2016', '2018', '2018', '2018', '2018', '2018',
       '2017', '2016', '2017', '2017', '2018', '2017', '2016', '2017',
       '2018', '2018', '2015', '2017', '2018', '2018', '2018', '2018',
       '2017', '2014', '2017', '2018', '2017', '2017', '2014', '2016',
       '2018', '2016', '2017', '2018', '2018', '2016', '2014', '2016',
       '2016', '2018', '2017', '2018', '2017', '2015', '2018', '2017',
       '2017', '2014', '2015', '2017', '2017', '2014', '2016', '2017',
       '2015', '2016', '2015', '2017', '2017', '2018', '2017', '2018',
       '2016', '2018', '2016', '2017', '2018', '2018', '2018', '2017',
       '2018', '2018', '2018', '2017', '2018', '2018', '2017', '2017',
       '2014', '2017', '2015', '2017', '2017', '2018', '2018', '2017',
       '2017', '2018', '2017', '2017', '2018', '2017', '2016', '2017',
       '2018', '2018', '2017', '2018', '2018', '2016', '2018', '2015',
       '2016', '2017', '2016', '2015', '2018', '2016', '2014', '2014',
       '2017', '2016', '2018', '2016', '2016', '2018', '2017', '2016'],
      dtype='<U4')

In [3]:
memberStats

array(['silver', 'silver', 'bronze', 'bronze', 'bronze', 'bronze',
       'bronze', 'bronze', 'bronze', 'inactive', 'silver', 'silver',
       'bronze', 'gold', 'bronze', 'bronze', 'inactive', 'silver',
       'silver', 'gold', 'bronze', 'bronze', 'silver', 'bronze', 'bronze',
       'bronze', 'inactive', 'gold', 'silver', 'bronze', 'inactive',
       'bronze', 'bronze', 'silver', 'gold', 'inactive', 'bronze',
       'bronze', 'bronze', 'bronze', 'silver', 'bronze', 'bronze',
       'bronze', 'bronze', 'silver', 'bronze', 'silver', 'bronze',
       'bronze', 'bronze', 'bronze', 'silver', 'silver', 'bronze',
       'bronze', 'gold', 'silver', 'inactive', 'silver', 'gold', 'bronze',
       'bronze', 'bronze', 'gold', 'silver', 'bronze', 'inactive', 'gold',
       'silver', 'silver', 'silver', 'bronze', 'inactive', 'silver',
       'bronze', 'inactive', 'bronze', 'bronze', 'bronze', 'silver',
       'silver', 'silver', 'silver', 'bronze', 'silver', 'bronze', 'gold',
       'silver', 'silver', 'bronze', 'silver', 'silver', 'bronze',
       'silver', 'gold', 'silver', 'bronze', 'silver', 'bronze', 'bronze',
       'bronze', 'bronze', 'bronze', 'bronze', 'silver', 'bronze',
       'silver', 'gold', 'silver', 'silver', 'bronze', 'bronze', 'bronze',
       'bronze', 'inactive', 'silver', 'bronze', 'bronze', 'bronze',
       'inactive', 'bronze', 'silver', 'silver', 'bronze', 'bronze',
       'bronze', 'silver', 'bronze', 'silver', 'bronze', 'inactive',
       'silver', 'gold', 'silver', 'bronze', 'silver', 'bronze', 'bronze',
       'gold', 'inactive', 'bronze', 'bronze', 'bronze', 'bronze', 'gold',
       'bronze', 'bronze', 'bronze', 'silver', 'bronze', 'bronze',
       'bronze', 'gold', 'bronze', 'bronze', 'silver', 'gold', 'bronze',
       'bronze', 'inactive', 'silver', 'bronze', 'silver', 'gold',
       'bronze', 'bronze', 'silver', 'silver', 'bronze', 'silver',
       'silver', 'silver', 'gold', 'gold', 'bronze', 'bronze', 'bronze',
       'bronze', 'silver', 'silver', 'silver', 'bronze', 'silver',
       'silver', 'silver', 'silver', 'gold', 'bronze', 'bronze', 'silver',
       'inactive', 'bronze', 'silver', 'gold', 'bronze', 'silver',
       'bronze', 'silver', 'gold', 'bronze', 'silver', 'bronze', 'bronze',
       'bronze', 'bronze', 'bronze', 'bronze', 'bronze', 'silver',
       'silver', 'silver', 'bronze', 'gold', 'bronze', 'bronze', 'gold',
       'inactive', 'inactive', 'silver', 'bronze', 'bronze', 'inactive',
       'silver', 'silver', 'bronze', 'silver', 'silver', 'gold', 'silver',
       'bronze', 'silver', 'bronze', 'bronze', 'bronze', 'bronze',
       'bronze', 'bronze', 'gold', 'bronze', 'bronze', 'bronze', 'bronze',
       'bronze', 'silver', 'silver', 'bronze', 'silver', 'gold', 'bronze',
       'bronze', 'bronze', 'silver', 'silver', 'silver', 'bronze',
       'silver', 'silver', 'bronze', 'silver', 'inactive', 'bronze',
       'silver', 'bronze', 'bronze', 'silver', 'silver', 'silver',
       'bronze', 'bronze', 'silver', 'silver', 'silver', 'bronze',
       'silver', 'bronze', 'bronze', 'silver', 'silver', 'gold', 'silver',
       'silver', 'bronze', 'gold', 'bronze', 'bronze', 'inactive',
       'silver', 'bronze', 'gold', 'gold', 'bronze', 'bronze', 'silver',
       'bronze', 'bronze', 'gold', 'inactive', 'bronze', 'bronze',
       'silver', 'silver', 'bronze', 'inactive', 'bronze', 'silver',
       'bronze', 'bronze', 'gold', 'silver', 'silver', 'bronze', 'silver',
       'gold', 'inactive', 'bronze', 'inactive', 'bronze', 'bronze',
       'bronze', 'bronze', 'gold', 'silver', 'gold', 'inactive', 'bronze',
       'silver', 'bronze', 'bronze', 'silver', 'bronze', 'bronze', 'gold',
       'silver', 'bronze', 'bronze', 'bronze', 'bronze', 'bronze',
       'silver', 'silver', 'silver', 'silver', 'bronze', 'bronze',
       'bronze', 'bronze', 'bronze', 'bronze', 'silver', 'bronze', 'gold',
       'bronze', 'bronze', 'bronze', 'bronze', 'silver', 'bronze',
       'silver', 'inactive', 'gold', 'bronze', 'silver', 'inactive',
       'silver', 'bronze', 'bronze', 'bronze', 'bronze', 'bronze',
       'inactive', 'bronze', 'silver', 'silver', 'inactive', 'inactive',
       'bronze', 'inactive', 'bronze', 'silver', 'bronze', 'bronze',
       'bronze', 'inactive', 'silver', 'bronze', 'gold', 'silver',
       'bronze', 'silver', 'silver', 'silver', 'silver', 'bronze',
       'silver', 'inactive', 'silver', 'silver', 'inactive', 'bronze',
       'silver', 'bronze', 'bronze', 'gold', 'gold', 'gold', 'bronze',
       'bronze', 'bronze', 'bronze', 'silver', 'bronze', 'bronze',
       'silver', 'silver', 'bronze', 'bronze', 'bronze', 'bronze',
       'bronze', 'bronze', 'bronze', 'silver', 'silver', 'silver',
       'silver', 'silver', 'bronze', 'bronze', 'bronze', 'bronze',
       'bronze', 'silver', 'bronze', 'silver', 'gold', 'bronze', 'silver',
       'bronze', 'inactive', 'bronze', 'silver', 'bronze', 'bronze',
       'silver', 'bronze', 'bronze', 'bronze', 'bronze', 'inactive',
       'bronze', 'bronze', 'bronze', 'silver', 'bronze', 'inactive',
       'bronze', 'silver', 'silver', 'bronze', 'bronze', 'bronze',
       'bronze', 'bronze', 'silver', 'bronze', 'bronze', 'bronze',
       'bronze', 'inactive', 'silver', 'bronze', 'inactive', 'gold',
       'bronze', 'inactive', 'bronze', 'bronze', 'bronze', 'bronze',
       'silver', 'silver', 'bronze', 'silver', 'bronze', 'bronze',
       'bronze', 'bronze', 'bronze', 'inactive', 'gold', 'silver',
       'silver', 'bronze', 'silver', 'bronze', 'silver', 'bronze',
       'bronze', 'silver', 'silver', 'silver', 'silver', 'bronze',
       'bronze', 'bronze', 'gold', 'inactive', 'inactive', 'bronze',
       'bronze', 'silver', 'gold', 'bronze', 'bronze', 'bronze', 'bronze',
       'gold', 'bronze', 'silver', 'bronze', 'bronze', 'bronze', 'silver',
       'silver', 'silver', 'silver', 'silver', 'bronze', 'silver', 'gold',
       'silver', 'bronze', 'bronze', 'bronze', 'silver', 'bronze',
       'bronze', 'inactive', 'inactive', 'silver', 'bronze', 'bronze',
       'silver', 'gold', 'silver', 'bronze', 'silver', 'bronze', 'bronze',
       'inactive', 'gold', 'inactive', 'silver', 'gold', 'bronze',
       'silver', 'bronze', 'gold', 'silver', 'silver', 'silver', 'silver',
       'silver', 'bronze', 'bronze', 'bronze', 'silver', 'bronze',
       'bronze', 'bronze', 'silver', 'silver', 'gold', 'bronze', 'silver',
       'bronze', 'bronze', 'bronze', 'bronze', 'bronze', 'bronze', 'gold',
       'silver', 'bronze', 'inactive', 'bronze', 'silver', 'bronze',
       'silver', 'silver', 'silver', 'bronze', 'gold', 'silver', 'bronze',
       'silver', 'bronze', 'inactive', 'bronze', 'silver', 'gold',
       'silver', 'bronze', 'bronze', 'inactive', 'silver', 'gold',
       'bronze', 'inactive', 'bronze', 'silver', 'silver', 'silver',
       'gold', 'silver', 'bronze', 'bronze', 'bronze', 'bronze', 'bronze',
       'silver', 'bronze', 'gold', 'bronze', 'bronze', 'gold', 'bronze',
       'silver', 'silver', 'bronze', 'bronze', 'silver', 'bronze',
       'bronze', 'silver', 'inactive', 'silver', 'bronze', 'silver',
       'bronze', 'bronze', 'inactive', 'bronze', 'bronze', 'silver',
       'bronze', 'bronze', 'silver', 'bronze', 'inactive', 'bronze',
       'silver', 'gold', 'bronze', 'silver', 'bronze', 'inactive',
       'bronze', 'inactive', 'bronze', 'silver', 'inactive', 'bronze',
       'inactive', 'bronze', 'bronze', 'bronze', 'bronze', 'silver',
       'bronze', 'silver', 'bronze', 'bronze', 'silver', 'inactive',
       'gold', 'bronze', 'silver', 'gold', 'bronze', 'bronze', 'silver',
       'bronze', 'inactive', 'inactive', 'inactive', 'bronze', 'bronze',
       'bronze', 'inactive', 'bronze', 'silver', 'bronze', 'silver',
       'silver', 'bronze', 'bronze', 'bronze', 'bronze', 'silver',
       'bronze', 'bronze', 'bronze', 'bronze', 'bronze', 'bronze',
       'bronze', 'gold', 'silver', 'bronze', 'bronze', 'bronze', 'bronze',
       'inactive', 'bronze', 'bronze', 'silver', 'silver', 'silver',
       'silver', 'bronze', 'gold', 'bronze', 'silver', 'bronze', 'bronze',
       'bronze', 'silver', 'silver', 'gold', 'bronze', 'gold', 'bronze',
       'silver', 'silver', 'bronze', 'silver', 'silver', 'silver',
       'bronze', 'bronze', 'bronze', 'bronze', 'bronze', 'silver',
       'bronze', 'bronze', 'bronze', 'silver', 'inactive', 'silver',
       'silver', 'silver', 'gold', 'silver', 'silver', 'bronze', 'gold',
       'inactive', 'silver', 'silver', 'bronze', 'silver', 'bronze',
       'bronze', 'bronze', 'bronze', 'bronze', 'bronze', 'silver',
       'silver', 'gold', 'bronze', 'silver', 'silver', 'bronze', 'bronze',
       'bronze', 'bronze', 'bronze', 'silver', 'bronze', 'silver',
       'bronze', 'gold', 'gold', 'inactive', 'gold', 'inactive', 'bronze',
       'inactive', 'silver', 'silver', 'gold', 'bronze', 'bronze',
       'bronze', 'silver', 'bronze', 'bronze', 'silver', 'silver',
       'bronze', 'inactive', 'bronze', 'bronze', 'bronze', 'bronze',
       'bronze', 'gold', 'silver', 'bronze', 'bronze', 'bronze', 'gold',
       'bronze', 'inactive', 'silver', 'bronze', 'silver', 'inactive',
       'bronze', 'gold', 'bronze', 'bronze', 'inactive', 'silver',
       'bronze', 'gold', 'silver', 'bronze', 'bronze', 'bronze', 'bronze',
       'bronze', 'bronze', 'silver', 'bronze', 'bronze', 'bronze',
       'bronze', 'bronze', 'inactive', 'silver', 'bronze', 'silver',
       'bronze', 'silver', 'bronze', 'silver', 'bronze', 'bronze',
       'bronze', 'bronze', 'gold', 'bronze', 'inactive', 'silver',
       'inactive', 'silver', 'bronze', 'inactive', 'bronze', 'bronze',
       'bronze', 'bronze', 'silver', 'silver', 'silver', 'bronze',
       'bronze', 'silver', 'bronze', 'inactive', 'bronze', 'bronze',
       'bronze', 'bronze', 'bronze', 'bronze', 'silver', 'gold', 'gold',
       'bronze', 'bronze', 'bronze', 'gold', 'inactive', 'inactive',
       'bronze', 'inactive', 'bronze', 'inactive', 'bronze', 'gold',
       'bronze', 'silver', 'inactive', 'silver', 'silver', 'silver',
       'gold', 'inactive', 'gold', 'bronze', 'silver', 'gold', 'gold',
       'gold', 'bronze', 'inactive', 'bronze', 'bronze', 'bronze',
       'bronze', 'inactive', 'bronze', 'silver', 'silver', 'bronze',
       'silver', 'silver', 'bronze', 'bronze', 'silver', 'gold', 'bronze',
       'inactive', 'silver', 'bronze', 'bronze', 'bronze', 'silver',
       'bronze', 'silver', 'silver', 'silver', 'silver', 'inactive',
       'bronze', 'gold', 'bronze', 'bronze', 'silver', 'gold', 'bronze',
       'bronze', 'bronze', 'bronze', 'gold', 'bronze', 'bronze', 'bronze',
       'silver', 'silver', 'silver', 'bronze', 'bronze', 'bronze',
       'bronze', 'silver', 'bronze', 'silver', 'silver', 'bronze',
       'inactive', 'bronze', 'silver', 'gold', 'silver', 'bronze',
       'bronze', 'bronze', 'silver', 'bronze', 'bronze', 'silver', 'gold',
       'silver', 'silver', 'bronze', 'inactive', 'silver', 'bronze',
       'silver', 'bronze', 'silver', 'bronze', 'silver', 'silver',
       'inactive', 'bronze', 'bronze', 'inactive', 'silver', 'gold',
       'silver', 'bronze', 'bronze'], dtype='<U8')

In [4]:
display(yearJoined)

    yearJoined memberStats
0         2017      silver
1         2017      silver
2         2017      bronze
3         2014      bronze
4         2018      bronze
..         ...         ...
995       2016      silver
996       2016        gold
997       2018      silver
998       2017      bronze
999       2016      bronze

[1000 rows x 2 columns]

In [5]:
yearJoined.groupby("memberStats").count()

             yearJoined
memberStats
bronze              504
gold                 97
inactive             92
silver              307

In [6]:
yearJoined.groupby(["yearJoined", "memberStats"]).count()

Empty DataFrame
Columns: []
Index: [(2014, bronze), (2014, gold), (2014, inactive), (2014, silver), (2015, bronze), (2015, gold), (2015, inactive), (2015, silver), (2016, bronze), (2016, gold), (2016, inactive), (2016, silver), (2017, bronze), (2017, gold), (2017, inactive), (2017, silver), (2018, bronze), (2018, gold), (2018, inactive), (2018, silver)]

In [7]:
yearJoined.groupby(["yearJoined"]).count()

            memberStats
yearJoined
2014                107
2015                101
2016                150
2017                297
2018                345

In [8]:
yearJoined['memberStat_1'] = yearJoined['memberStats'].apply(lambda x: x[0])
yearJoined['memberStat_2'] = yearJoined['memberStats'].apply(lambda x: x[1]) 

yearJoined.groupby(["yearJoined", "memberStat_1", "memberStat_2"]).count()

                                      memberStats
yearJoined memberStat_1 memberStat_2
2014       b            r                      47
           g            o                      12
           i            n                      12
           s            i                      36
2015       b            r                      40
           g            o                      12
           i            n                      10
           s            i                      39
2016       b            r                      81
           g            o                      13
           i            n                       8
           s            i                      48
2017       b            r                     151
           g            o                      22
           i            n                      26
           s            i                      98
2018       b            r                     185
           g            o                      38
           i            n                      36
           s            i                      86

In [9]:

#correto
yearJoined[["yearJoined", "memberStats"]].value_counts()

yearJoined  memberStats
2018        bronze         185
2017        bronze         151
            silver          98
2018        silver          86
2016        bronze          81
            silver          48
2014        bronze          47
2015        bronze          40
            silver          39
2018        gold            38
2014        silver          36
2018        inactive        36
2017        inactive        26
            gold            22
2016        gold            13
2014        gold            12
            inactive        12
2015        gold            12
            inactive        10
2016        inactive         8
Name: count, dtype: int64

In [10]:
contagem= yearJoined[["yearJoined", "memberStats"]].value_counts() 
contagem=contagem.reset_index()
contagem

   yearJoined memberStats  count
0        2018      bronze    185
1        2017      bronze    151
2        2017      silver     98
3        2018      silver     86
4        2016      bronze     81
5        2016      silver     48
6        2014      bronze     47
7        2015      bronze     40
8        2015      silver     39
9        2018        gold     38
10       2014      silver     36
11       2018    inactive     36
12       2017    inactive     26
13       2017        gold     22
14       2016        gold     13
15       2014        gold     12
16       2014    inactive     12
17       2015        gold     12
18       2015    inactive     10
19       2016    inactive      8

In [ ]:
# abaixo apenas base de estudos do livro para funções de ciração de séries temporais.

In [27]:

NUM_EMAILS_SENT_WEEKLY = 3


#Definimos várias funções para diferentes padrões.

def never_opens(period_rng):
     return []


def constant_open_rate(period_rng):
     n,p = NUM_EMAILS_SENT_WEEKLY, np.random.uniform(0,1)
     num_opened = np.random.binomial(n, p, len(period_rng))
     return num_opened

def increasing_open_rate(period_rng):
     return open_rate_with_factor_change(period_rng, np.random.uniform(1.01, 1.30))

def decreasing_open_rate(period_rng):
    return open_rate_with_factor_change(period_rng, np.random.uniform(0.5, 0.99))

In [13]:

#funções ára simular 4 tipos de comportamentos

def open_rate_with_factor_change(period_rng, fac):
    if len(period_rng) <1 :
       return []
    times = np.zeros(len(period_rng))
    for prd in range(0, len(period_rng),2):
        try: 
          n, p = NUM_EMAILS_SENT_WEEKLY, np.random.uniform(0,1)
          num_opened[prd:(prd+2)] = np.random.binomial(n,p,2)
          
          p = max(min(1, p*fac),0)
        except:
          num_opened[prd] = np.random.binomial(n,p,1)


     
    for t in range(len(times)):
         num_opened[times[t]] =0

    return num_opened

In [ ]:


# Membros que nunca abrem os e-mails que lhes enviamos:
never_opens()


# MEmbros que abrem aproximadamente o mesmo número de e-mails todas as semanas:
constante_open_rate()

# Membros que abrem um número decrescente de e-mails a cada semana
decreasing_open_rate()


# Membros que abrem um número crescente de e-mails a cada semana
increasin_open_rate()


#engajamento cada vez maior ou perdem o interesse ao longo do tempo | simulados open_rate_whit-factor_change()
# increasing_open_rate(), decreasing_open_rate()
#https://github.com/PracticalTimeSeriesAnalysis/BookRepo/blob/master/Ch04/Ising.ipynb

In [15]:

#python
#comportamento de doação

def produce_donations(period_rng, member_behavior, num_emails, use_id, member_join_year):

    donation_amounts =np.array([0,25, 50, 75, 100, 250, 500, 1000, 1500, 2000])
    member_has =np.random.choice(donation_amounts)
    email_fraction = num_emails / (NUM_EMAILS_SENT_WEEKLY * len(period_rng))
    
    member_gives = member_has *email_fraction
    member_gives_idx = np.where(member_gives >= donation_amounts)[0][-1]
    member_gives_idx = max(min(member_gives_idx , len(donation_amounts)-2), 1)

    num_times_gave = np.random.possion(2)* (2018 - member_join_year)
    times = np.random.randint(0, len(period_rng), num_times_gave)
    dons = pd.DataFrame({'member':[],
                         'amount': [],
                         'timestamp': []})

    for n in range(num_times_gave):
        donation = donation_amounts[member_gives_idx + np.random.binomial(1,.3)]
        ts = str(period_rng[times[n]].start_time + random_weekly_time_delta())
        dons = dons.append(pd.DataFrame({'member':[use_id],
                         'amount': [donation],
                         'timestamp': [ts]}))
                           

    if dons.shape[0] > 0:
        dons = dons[dons.amount != 0]
        # não relatamos a ausência de evento de doação, 
        # pois isso não seria registrado em uma banco de dados do mundo real. 

    return dons

In [16]:


def random_weekly_time_delta():
     days_of_week = [d for d in range(7)]
     hours_of_day = [h for h in range(11,23)]
     minute_of_hour = [m for m in range(60)]
     second_of_minute =[s for s in range(60)]
     return pd.Timedelta(str(np.random.choice(days_of_week)) + "days") + pd.Timedelta(str(np.random.choice(hours_of_day)) +"hour") +   pd.Timedelta(str(np.random.choice(minute_of_hour)) + "minutes") + pd.Timedelta(str(np.random.choice(second_of_minute)) + "seconds")

In [17]:
hours_of_day = [h for h in range(11,23)]

In [18]:
# python

behaviors = [never_opens, constant_open_rate, increasing_open_rate, decreasing_open_rate]
import numpy as np

member_behaviors = np.random.choice(behaviors, 1000, [0.2,0.5,0.1,0.2])

In [20]:

import pandas as pd

rng = pd.period_range('2015-02-14','2018-06-01', freq ='W')      
   
emails = pd.DataFrame({'member':[],
                       'week':[],
                       'emailsOpened':[]})

donations = pd.DataFrame({'member':[],
                          'amount': [],
                          'timestamp':[]})

In [42]:
    
def open_rate_with_factor_change(period_rng, fac):
    num_opened = {}  # Initialize as an empty dictionary
    if len(period_rng) <1 :
       return []
    times = np.zeros(len(period_rng))
    for prd in range(0, len(period_rng),2):
        try: 
          n, p = NUM_EMAILS_SENT_WEEKLY, np.random.uniform(0,1)
          num_opened[prd:(prd+2)] = np.random.binomial(n,p,2)
          
          p = max(min(1, p*fac),0)
        except:
          num_opened[prd] = np.random.binomial(n,p,1)


     
    for t in range(len(times)):
         num_opened[times[t]] =0

    return num_opened

In [ ]:

#

for idx in range(yearJoined.shape[0]):   

    # Gera aleatoriamente a data em que um membro teria se afiliado.
    join_date = pd.Timestamp(yearJoined.iloc[idx].yearJoined)+ pd.Timedelta(str(np.random.randint(0,365))+ 'days')
    join_date = min(join_date, pd.Timestamp('2018-06-01'))
    #join_date = pd.Period('2018-06-01', freq='W-SUN')


    # Convert the rng (assuming it's a PeriodIndex) to Timestamps
    #member_rng = rng.to_timestamp()[rng.to_timestamp() > join_date]
    #membro nãodeve ter timestamps vigentes antes de se afiliar. 
    member_rng = rng.to_timestamp()[rng.to_timestamp() > join_date]

    #member_rng = rng[rng> join_date]
    if len(member_rng) < 1:
       continue

    info = member_behaviors[idx](member_rng)
    if len(info) == len(member_rng):
       emails = emails.append(pd.DataFrame({'member':[idx]*len(info), 
                                        'week':[str(r.start_time) for r in member_rng],
                                        'emailsOpened':info}))
       donations = donations.append(produce_donations(member_rng, member_behaviors[idx], sum(info), idx, join_date.year))

In [ ]:

import numpy as np

# Assuming yearJoined is defined somewhere in your code
# and member_behaviors is a list of functions
num_times_gave = np.random.poisson(2) * (2018 - int(yearJoined))

for idx in range(yearJoined.shape[0]):   

    # Generate the random join date for a member.
    join_date = pd.Timestamp(yearJoined.iloc[idx].yearJoined) + pd.Timedelta(str(np.random.randint(0,365)) + ' days')
    join_date = min(join_date, pd.Timestamp('2018-06-01'))

    # Convert member_rng PeriodIndex to Timestamp for comparison
    member_rng = rng.to_timestamp()[rng.to_timestamp() > join_date]
    if len(member_rng) < 1:
       continue

    info = member_behaviors[idx](member_rng)
    if len(info) == len(member_rng):
       emails = emails.append(pd.DataFrame({'member': [idx] * len(info), 
                                             'week': [str(r.to_period('W')) for r in member_rng],
                                             'emailsOpened': info}))
       donations = donations.append(produce_donations(member_rng, member_behaviors[idx], sum(info), idx, join_date.year))

In [ ]:
import numpy as np

# Assuming yearJoined is defined somewhere in your code
# and member_behaviors is a list of functions
num_times_gave = np.random.poisson(2) * (2018 - int(yearJoined))

for idx in range(yearJoined.shape[0]):   

    # Generate the random join date for a member.
    join_date = pd.Timestamp(yearJoined.iloc[idx].yearJoined) + pd.Timedelta(str(np.random.randint(0,365)) + ' days')
    join_date = min(join_date, pd.Timestamp('2018-06-01'))

    # Convert member_rng PeriodIndex to Timestamp for comparison
    member_rng = rng.to_timestamp()[rng.to_timestamp() > join_date]
    if len(member_rng) < 1:
       continue

    info = member_behaviors[idx](member_rng)
    if len(info) == len(member_rng):
       emails = emails.append(pd.DataFrame({'member': [idx] * len(info), 
                                             'week': [str(r.to_period('W')) for r in member_rng],
                                             'emailsOpened': info}))
       donations = donations.append(produce_donations(member_rng, member_behaviors[idx], sum(info), idx, join_date.year))

In [ ]:
import numpy as np

# Loop through each row in the yearJoined DataFrame
for idx in range(yearJoined.shape[0]):   
    # Extract the year joined for the current member
    year = int(yearJoined.iloc[idx]['yearJoined'])  # Replace 'yearJoined' with the actual column name if different

    # Calculate the number of times the member gave based on the year they joined
    num_times_gave = np.random.poisson(2) * (2018 - year)

    # Generate the random join date for the member
    join_date = pd.Timestamp(yearJoined.iloc[idx]['yearJoined']) + pd.Timedelta(str(np.random.randint(0, 365)) + ' days')

    # Convert member_rng PeriodIndex to Timestamp for comparison
    member_rng = rng.to_timestamp()[rng.to_timestamp() > join_date]
    if len(member_rng) < 1:
       continue

    info = member_behaviors[idx](member_rng)
    if len(info) == len(member_rng):
       emails = emails.append(pd.DataFrame({'member': [idx] * len(info), 
                                             'week': [str(r.to_period('W')) for r in member_rng],
                                             'emailsOpened': info}))
       donations = donations.append(produce_donations(member_rng, member_behaviors[idx], sum(info), idx, join_date.year))

In [ ]:

# COMMAND ----------

#python

df.set_index(pd.to_datetime(df.timestamp), inplace= True)
df.sort_index(inplace = True)
df.groupby(pd.Grouper(freq='M')).amount.sum().plot()